





/*CHI TIẾT SẢN 1 SẢN PHẨM*/
.name-product-detail{
  font-size: 35px;
  font-weight:bold;
  color:red;
}

 .price-product-detail{
   color:#1c5fc0;
   font-weight: bold;
   text-align: left;
   font-size: 35px;
 }
 .price-product-detail>del{
   color:black;
   margin-right: 10px;
 }
 .price-product-detail>ins{
   color:#1c5fc0;
   text-decoration: none;
 }
.sale-product-detail{
  font-size: 20px;
  margin-top: 10px;
}
 .percent-product-price{
   font-size:25px;
 
 }
.tongsoluong{
  width: 100%;
}

.tinh-trang{
  width:100%;
  margin-top: 20px;
}
.rating-detail-product{
  float: left;
  margin-top:-5px;
}
.formSoLuong{
  width: 100%;
  clear: both;
  margin-top:20px;
}
.soLuongSP {
    text-align: center;
    height: 55px;
}

.btn-plus {

 
    text-align: center;
    color: #333;
    position: absolute;
    background: #e1e2e4;
}

.btn-plus>i {
    font-size: 9px;
}

.btn-minus {
 
    text-align: center;
    top:30px;
   
    color: #333;
    background: #e1e2e4;
    position: absolute;
}

.btn-minus>i {
    font-size: 9px;
}

.btnAddToCart {
    border-radius: 15px;
    background: #072a5c;
    color: white;
    font-size: 18px;
    position: absolute;
    right:220px;
    margin-top: 10px;

}

.btnAddToCart:hover,
.btnAddToCart:focus {
    display: inline-block;
    background: orange;
    color: white;
    transition: all 0.5s;
}

.btnAddToCart:before {
    content: '';
    position: absolute;
    height: 1px;
    left: 15px;
    right: 15px;
    bottom: 5px;

    background-color: #fff;
    opacity: 0;
    transition: all 0.3s ease;
    transition-delay: 0.2s;
}

.btnAddToCart:hover:before {
    opacity: 1;
    bottom: 5px;
}

.img-frame{
  padding: 5px;
  width: 350px;
  height: 350px;
  margin:27px auto;

}
#zoomdemo {
    width: 320px;
    height:320px;
    margin-left:-96px;
   
}
.zoomContainer{
  width:500px!important;
}
.tongdanhgia{
  margin-top:20px;
}
/*set a border on the images to prevent shifting*/
#gallery_01{
   margin-top: 20px; 
}
#gallery_01 img{
  border:2px solid white;
  width: 104px;
  height: 71px;
}

/*Change the colour*/
.active .hinhnho{border:2px solid rgb(101, 155, 236) !important;}


/*Thương hiệu*/
.brand-name-detail{
  font-size:16px;
  margin-top: 20px;
}
.brand-name{
  font-size: 18px;
  font-weight: bold;
}


/*NUT LIKE SHARE*/
.mxh{
  margin-top: 20px;
  width:100%;
}

/*NGƯỜI DÙNG ĐÁNH GIÁ,CMT SẢN PHẨM***********/
/*Comment sản phẩm*/

#formNguoiDungDanhGia{
  padding:20px;
}
.margin-form{
  padding-top:20px;
  margin-top: 20px;
}
.label-form-danh-gia{
  width:100%;
 
  text-align: center;
}
.inputCmt{
  resize: none;
}
.nav-tabs>li>a:focus, .nav-tabs>li>a:hover{
  border-bottom: 2px solid #1c5fc0;
  transition: all 0.5s;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  color: white;
  cursor: pointer;
  background-color: #1c5fc0;
  border-bottom: 1px solid #ddd;
  border-bottom-color: transparent;
}
 .mo-ta-chi-tiet{
   font-size: 16px;
   padding-top: 30px;
 }
 .noi-dung-binh-luan{
  font-size: 16px;
  padding-top: 30px;
 }
 .tat-ca-binh-luan{
   width:100%;

 }
 div[class^="mot-binh-luan"]{
  padding-bottom: 20px;   
  padding-top: 20px;
  border:solid 1px #ccc;
}
div[class^="mot-binh-luan"] .fa_user{
  font-size: 60px;
}
 .ten-tk{
   color:#1c5fc0;
   font-weight: bold;
   font-size: 16px;
   width:100%;
  clear:both;
 }
 .tk-rating-product i{
    padding:0;
 }
 .ngay-binh-luan{
    font-size: 12px;
    color:#222;
 }
 .chinh-sua-binh-luan{
   float:right;
 }
 .chinh-sua-binh-luan i{
  cursor: pointer;
  display: inline-block;
}


/*MODAL CẬP NHẬT ĐÁNH GIÁ*/
.nd-form-cap-nhat-danh-gia{
  width:100%;
 
  min-height: 165px;
}